<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="org.h2.Driver"/>
		<property name="jdbcUrl" value="jdbc:h2:~/.nurkiewicz/logback-feed/db;AUTO_SERVER=TRUE"/>
		<property name="user" value="sa"/>
		<property name="acquireRetryAttempts" value="1"/>
	</bean>

	<alias name="dataSource" alias="logbackFeedDataSource"/>

</beans>
